**1-Write a Python program to calculate the length of a string using 2 ways

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

**9-Write a Python function to reverse a string if its length is a multiple of 4

**10- Write a Python program to remove a newline in Python

**11-Write a Python program to check whether a string starts with specified characters

**12- Write a Python program to add prefix text to all of the lines in a string

**13-Write a Python program to print the following numbers up to 2 decimal places

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

**15-Write a Python program to display a number with a comma separator

**16-Write a Python program to reverse a string using 2 ways

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

**18-Write a Python program to find the first non-repeating character in a given string

**19-Write a Python program to remove spaces from a given string

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

**26-search for if an elem is existing in list

**27- clear python list using different ways

In [ ]:
list = [2,3,3,4,5,6]
list.clear()
print(list)

[]

**28-remove duplicated elements from a list

In [ ]:
old_list = [1,1,2,3,4,4,6,6]
New_list = []
[New_list.append(i) for i in old_list if i not in New_list]
print(New_list)

[1, 2, 3, 4, 6]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:

values_list = ["Gfg", 3, "is", 8]
keys_list = ["name", "id"]


new_list = ({keys_list[0] : values_list[0],
keys_list[1]:values_list[1]},{keys_list[0]:values_list[2],
keys_list[1]:values_list[3]})
print(new_list)

({'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8})

**30-write a python program to count unique values inside a list using different ways

In [ ]:
my_list = [1,1,3,3,2,2,5]
def unique_values(lst):
    return len(set(lst))
print("Number of unique values with set :" , unique_values(my_list))

Number of unique values with set : 4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [2]:

list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
print(" list : " + str(list))
K = 3
x = []
for i in list:
	freq = list.count(i)
	if freq > K and i not in x:
		x.append(i)
print(" new list:"+ str(x))

 list : [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
 new list:[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [4]:
n=6
a1 = [1 ,2 ,2 ,3 ,4 ,5]
a2 = []
for i in range(1,n):
    r = max(a1[i], a1[i-1])
    a2.append(r)
for i in a2 :
    print(i,end=" ")

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

6.0

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [5]:
list_1 = ["a", "b"]
list_2 = [1,2]
unique_combinations = []
for i in range(len(list_1)):
	for j in range(len(list_2)):
		unique_combinations.append((list_1[i], list_2[j]))

print(unique_combinations)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
test_list = [1 ,1 ,2 ,3 ,4 ,5 ,1 ,2 ,1]
ele=1
x=[j for i,j in enumerate(test_list) if j!=ele]
print(x)

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
a = ["gfg", "is" , "best"]
b = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
print("List 1 : " , a)
print("List 2 : " , b)
x = [a[i] for i in b]
print ( x)

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
d1={1:10, 2:20}
d2={3:30, 4:40}
d3= {}
for d in (d1,d2): d3.update(d)
print(d3)

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
words = {'a': 'juice', 'b': 'cat', 'c': 'anime'}
for i in words:
    print(i, words[i])

{1: 10, 2: 20, 3: 30, 4: 40}

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}
print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
dict = {1,2,3,4,5}
max_val = float('-inf')
min_val = float('inf')
for num in dict :
    if num > max_val :
        max_val = num
    if num < min_val :
       min_val = num
print(f"max is : {max_val}")
print(f"min is : {min_val}")

max is : 5
min is : 1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict = {k: v for k, v in original_dict.items() if v is not None}
print("New Dictionary after dropping empty items:", new_dict)

New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
numbers = (1,2,3,4,5)
print("the first item in tuple is :", numbers[0])

the first item in tuple is : 1

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
t = (1, 2, 3, 4, 5)
a, b, c, d, e = t
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)
print("e:", e)

a: 1
b: 2
c: 3
d: 4
e: 5

**49-Write a Python program to add an item to a tuple

In [ ]:
tuple = (2,3,4,5)
tuple = tuple + (10,)
print(tuple)

**50-Write a Python program to convert a tuple to a string

In [ ]:
My_tuple = ("z", "e", "y", "a", "d")
My_string = "" . join(My_tuple)
print(My_string)

**51-Write a Python program to convert a list to a tuple

In [ ]:
My_list = [2,3,4,5,6,7]
My_tuple = tuple(My_list)
print(My_tuple)

**52-Write a Python program to reverse a tuple

In [ ]:
tuples = ("z","e","y","a","d")
New_tuple = tuples[::-1]
print(New_tuple)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

The original string : 1, -5, 4, 6, 7
Tuple after getting conversion from String : (1, -5, 4, 6, 7)

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
tuple = ((1,2,3) , (4,5,6) , (7,8,9))
total = 0
count = 0
for t in tuple:
    for num in t :
        total += num
        count += 1
average = total / count
print(f"average is : {average}")

average is : 5.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
set= [1,2,3,4,5]
member = int(input("plz enter a number :"))
if member >= 0 :
    set.append(member)
    print(f"set is : {set}")
else :
    print("error")

plz enter a number :7
set is : [1, 2, 3, 4, 5, 7]

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
set_1 = [1,2,3,4,5,6,7]
item = 5
if item in set_1:
    set_1.remove(item)
print(f"set is : {set_1}")

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
print( A | B)
print( A & B)
print( A - B)
print( A ^ B)

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
my_list = [2, 4, 5, 6, 7, 8]

max_value = my_list[0]
min_value = my_list[0]
for num in my_list:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num
print(f"max is: {max_value}")
print(f"min is: {min_value}")

max is: 8
min is: 2

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.